.wrapper {
    display: flex;
    flex-direction: column;
    
    button {
        width: fit-content;
        font-size: 1.7rem;
        font-family: var(--sec-font-family);
        font-weight: 600;
        padding: 6px 12px;
        color: green;
        background-color: #d7ffa8;
        border-radius: 4px;
        margin: 10px auto 0;
        cursor: pointer;
        transition: opacity linear 0.1s;

        &:hover {
            opacity: 0.9;
        }
    }

    p {
        font-size: 1.8rem;
        font-weight: 500;
        margin: 36px auto 0;
    }
}

.questionBlock {
    margin-top: 18px;

    h4 {
        font-size: 1.7rem;
        font-weight: 500;
        margin-bottom: 6px;
    }

    .questionImage {
        width: 100%;
        margin-bottom: 8px;
    }

    .explain {
        margin-top: 14px;
        color: var(--sec);
        width: fit-content;
        padding: 4px 8px;
        border-radius: 4px;
        transition: background ease 0.2s;

        &Btn {
            font-weight: 500;
            cursor: pointer;
            transition: opacity linear 0.1s;
    
            &:hover {
                opacity: 0.9;
            }

            & + span {
                display: none;
            }

            &.active + span {
                display: inline-block;
            }
        }

        &.active {
            background-color: #d5d8ff;
        }
    }
}

.answerGroup {
    user-select: none;
    display: flex;
    position: relative;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: all ease 0.1s;

    &:hover {
        background-color: rgba(255, 132, 207, 0.1);
    }

    &:has(input:checked) {
        border-color: var(--pri);
    }

    &.correct {
        background-color: #d6e0f2;
        border-color: #4b6765;
    }

    &.incorrect {
        background-color: #ebc8c2;
        border-color: #ae3232;
    }

    &.submited {
        pointer-events: none;
    }

    // Custom radio
    input:checked,
    input:not(:checked) {
        position: absolute;
        display: none;
    }

    input:checked + label,
    input:not(:checked) + label {
        position: relative;
        cursor: pointer;
    }

    input:checked + label:before,
    input:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        border: 1px solid var(--bor-cl);
        border-radius: 50%;
        background: var(--white);
    }

    input:checked + label:after,
    input:not(:checked) + label:after {
        content: '';
        width: 10px;
        height: 10px;
        background: var(--pri);
        position: absolute;
        top: calc(50% - 5px);
        transform: translateY(-50%);
        left: 4px;
        border-radius: 100%;
        transition: transform ease-in-out 0.1s;
    }

    input:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }

    input:checked + label:after {
        opacity: 1;
        transform: scale(1);
    }

    label {
        flex: 1;
        cursor: pointer;
        margin-left: 10px;
        transition: color linear 0.1s;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 26px;
    }
}